@import url('https://fonts.googleapis.com/css?family=Charmonman|Roboto')

body
  background: gray
  font-family: 'Roboto', sans-serif

h1
  font-family: 'Roboto', sans-serif
  color: #cecece
  //font-style: oblique
  font-size: xx-large

.btn__wrapper
  display: flex
  justify-content: center
  align-items: center

.btn__wrapper_description
  display: flex
  justify-content: flex-start
  align-items: center

.btn__wrapper button, th, td
  margin: 10px

table
  height: 80vh
  width: 1000px
  border-collapse: collapse

table, th, td
  border: 1px solid black
  text-align: center
  //animation: slide-up 0.8s ease

th, td
  margin: 10px

.cityCell
  width: 120px
  text-align: center


.themeColor
  color: #08fdd8


.listFullHeight
  height: 90vh


@keyframes slide-up
  0%
    opacity: 0
    transform: translateY(20px)
  100%
    opacity: 1
    transform: translateY(0)

.element_wrapper
  display: flex
  flex-direction: column

.description__pictures
  display: flex
  flex-direction: row
  flex-wrap: wrap

.description__wrapper
  display: flex
  flex-direction: column
  max-width: 1000px
  border: 1px solid black
  margin-bottom: 10px
  padding: 10px

tr.event_table_row
  padding-left: 5px
  padding-right: 5px

tr.event_table_row:hover
  background-color: #08fdd8
  cursor: pointer

tr.table-active td
  //border-bottom: 1pt solid black
